/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Border-box sizing reset */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* ======== project css start ======== */

form {
  font-family: Helvetica, sans-serif;
  max-width: 395px;
  width: 100%;
  background-color: lightblue;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
}

/* Initial CSS */
/* #first_name,
#last_name,
#email {
  width: 100%;
}

dt {
  margin-top: 1rem;
}

textarea {
  width: 100%;
} */

/* "Tweaking the form" CSS */

/* first_name & last_name inputs */
dl:nth-of-type(1),
dl:nth-of-type(2) {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}
dl:nth-of-type(1) {
  padding-right: 4px;
}
dl:nth-of-type(2) {
  padding-left: 4px;
}
/* city, state, zip inputs */
dl:nth-of-type(4),
dl:nth-of-type(5),
dl:nth-of-type(6) {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}
dl:nth-of-type(4) {
  width: 50%;
  padding-right: 4px;
}
dl:nth-of-type(5) {
  width: 10%;
  padding-left: 4px;
  padding-right: 0px;
}
dl:nth-of-type(6) {
  padding-left: 25px;
  width: 40%;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%
}

dt {
  margin-top: 1rem;
}
