<h2>New List</h2>

<form action="<%= BASE_URL %>/list/add" method='post'>
  <dl>
    <dt><label for='name'>Name of list</label></dt>
    <dd><input type='text' id='name', name='name' required></dd>
  </dl>
  <input class='button' type='submit' value='Add list'>
</form>