@import url("../css-reset.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html {
  font-family: "Open Sans", Arial, sans-serif;
  text-align: center;
  color: #444;
}
img {
  display: block;
  background: #999;
  text-align: center;
  font-size: 13px;
  color: #777;
}
/* nav */
nav {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #efefef;
}
nav ul {
  border-top: #f5f5f5 9px solid;
  margin: auto;
}

nav li {
  display: inline-block;
  padding: 15px 25px;
}
nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #444;
  font-size: 13px;
  white-space: nowrap;
}

/* header */
header > div {
  max-width: 1560px;
  height: 427px;
  background: gray;
  margin: auto;
}
header h1{
  padding-top: 257px;
  padding-bottom: 18px;
  font-size: 72px;
  color: white;
}
header h2{
  color: white;
  font-size: 31px;
  text-transform: uppercase;
}

/* main */
button {
  background: #008000;
  font-weight: bold;
  font-size: 16px;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
button:hover {
  background: #006100;
}
article {
  margin: auto;
  padding-top: 10px;
  max-width: 1010px;
  padding-bottom: 60px;
  border-bottom: 1px solid #efefef;
}
main h1 {
  font-weight: 300;
  font-size: 48px;
  margin: 1.236em 0 .7em;
}
main h2 {
  margin: 30px 0 4px;
  font-weight: bold;
  font-size: 24px;
  color: #008000;
}
main p {
  font-size: 16px;
  line-height: 38px;
  margin: 0 auto 5px;
  font-weight: 300;
}

/* tickets / speakers */
.tickets {
  padding-bottom: 68px;
}
.speakers {
  padding-bottom: 0;
}
.speakers p {
  line-height: 25px;
}
.speakers h2 {
  margin-bottom: 10px;
}
.speakers ul {
  width: 100%;
  margin: 10px auto 60px;
  max-width: 870px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.speakers li {
  display: inline-block;
  width: 280px;
  height: 380px;
  border: 1px solid #efefef;
  position: relative;
  color: #444;
  font-weight: 300;
  font-size: 12px;
  margin: 5px;
  overflow: hidden;
}
.speakers li img {
  width: 280px;
  height: 230px;
}
.speakers li div.hover-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  padding: 10px;
  color: white;
  transition: all 0.5s;
}
.speakers li div.hover-text:hover { opacity: 1; }

/* schedule */
.schedule img {
  width: 125px;
  height: 104px;
}
.schedule em {
  display: inline-block;
  color: #008000;
  font-weight: bold;
  font-size: 18px;
}
.schedule table {
  margin: auto;
  max-width: 960px;
  width: 960px;;
}
.schedule tr {
  position: relative;
}
.schedule td {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  border-top: 1px solid #efefef;
}

/* other sections (filler) */
.location p,
.callforpapers p,
.sponsors p {
  /* line-height: 2rem; */
  width: 90%;
  text-align: left;
}
.location img {
  width: 100%;
  height: 500px;
  margin-bottom: 35px;
}
.location,
.callforpapers,
.sponsors {
  padding-bottom: 80px;
}
.sponsors div {
  height: 2000px;
}


/* media queries */
@media (max-width: 1026px) {
  .schedule table {
    width: 93%;
  }
}
@media (max-width: 630px) {
  nav {
    display: none;
  }
  /* .schedule .sch_pic {
    position: relative;
  } */
  .schedule img {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 80px;
    height: 64px;
  }
  .schedule td {
    display: block;
    border: none;
    line-height: 35px;
    padding: 10px;
  }
  .schedule .sch_time {
    padding: 20px;
    text-align: right;
    line-height: 35px;
  }
  .schedule tr {
    border-top: 1px solid #efefef;
  }
  .schedule tr:last-of-type {
    border-bottom: 1px solid #efefef;
  }
  .schedule .sch_pic {
    padding: 0;
  }
}
